[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
djangorestframework = "*"
psycopg2-binary = "*"
psycopg2 = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.8"
