.account-description {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 10%;
    justify-content: center;
}


.account-email {
    font-size: 20pt;
}


.account-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 15%;
    border-right: 1px solid black;
    min-height: 100vh;
    align-items: center;
}


.account-info {
    display: flex;
    flex-direction: column;
}


.account-username {
    font-size: 25pt;
    font-weight: bold;
}


.change-picture {
    color: #D9D9D9;
}


.change-title {
    margin-left: 2%;
    color: #D9D9D9;
}


.flex-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25pt;
    height: 2em;
    align-items: baseline;
}


.img-sidebar {
    width: 80%;
}


.img-user {
    width: 30em;
}


.flex-account {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 30%;
}


.flex-user-info {
    display: grid;
    grid-column-end: 3;
    justify-content: center;
}


.grid-user-account {
    display: grid;
    grid-template-columns: 1fr 3fr;
}


.new-page-button {
    background-color: #0070A0;
    border: none;
    color: white;
    padding: 3%;
    width: 70%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15pt;
    margin: 0 auto;
}


.user-role {
    font-size: 16pt;
    margin-right: 3%;
}

