.grid-post-reply-like {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}


.post-block {
    width: 50%;
    height: auto;
    border: 1px solid #0070A0;  
    background-color: rgba(0, 112, 160, 11%);
    margin-bottom: 3%;
    padding-bottom: 3%;
}


.post-created-time {
    font-style: italic;
    padding: 2%;
    width: 30%;
    margin-left: 60%;
}


input[type=text].post-reply {
    color: black;
    border: 1px solid #0070A0;
    width: 75%;
    height: 65%;
    caret-color: transparent;
}


.post-text {
    font-family: 'Inter', sans-serif;
    text-align: justify;
    display: flex;
    flex-direction: column;
    margin: 0 5% 5% 5%;
    text-indent: 5%;
    line-height: 24px;
    font-size: 13pt;
    padding: 2%;
    background-color: white;
    margin-bottom: 5%;
}


.post-username {
    font-family: 'Inter', sans-serif;
    font-size: 15pt;
    font-weight: bold;
}


.grid-post-info {
    display: grid;
    grid-template-columns: 1fr 2fr 7fr;
    padding: 5%;
}


.post-like {
    grid-column: 3;
    width: 35%;
}


@media only screen and (max-width: 1225px) {
.post-created-time {
    width: 60%;
    margin-left: 40%;
}
}


@media only screen and (max-width: 1120px) {
.post-block {
    width: 80%;
    margin: 3% 5% 0 5%;
}

.post-created-time {
    width: 60%;
    margin-left: 40%;
}

.post-username {
    margin-left: -40%;
}
}


@media only screen and (max-width: 874px) {
.post-username {
    margin-left: 10%;
}
}


@media only screen and (max-width: 770px) { 
.post-block {
    width: 80%;
    margin: 5% 20% 0 20%;
}

.post-username {
    margin-left: 15%;
}
}


@media only screen and (max-width: 580px) { 

}