.button-sign-in {
  background-color: #0070A0;
  border: none;
  color: white;
  padding: 3%;
  width: 30%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 5%;
}


.input-mui {
    background-color: white;
    margin-bottom: 15%;
    width: auto;
}


.signup {
    color: #0070A0;
}

.signin.signin_wrapper {
    background-color: rgba(0, 112, 160, 11%);
    padding: 5%;
    margin-top: 5%;
    margin: 100px;
}


.container {
    margin-left: 10%;
    margin-right: 10%;
}


.signin-form {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 640px) {
.container {
    width: auto;
    margin-right: -3%;
    margin-left: -3%;
}
}


@media only screen and (max-width: 466px) {
.container {
    width: 30em;
    margin-right: 10%;
}


.welcome-text {
    font-size: 15pt;
}


.signup-text {
    font-size: 10pt;
}


.signup {
    font-size: 10pt;
}
}


@media only screen and (max-width: 420px) {
.signin.signin_wrapper {
    margin: 70px;
}

.container {
    width: 110%;
    padding-right: 3%;
}
}


@media only screen and (max-width: 380px) {
.container {
    width: 110%;
    padding-right: 13%;
}

.signin.signin_wrapper {
    margin: 70px;
}
}

